{:company/legal-name "Booz Allen Hamilton Holding Corporation"
 :company/lei "529900JPV47PIUWMA015"
 :company/jurisdiction "United States"
 :company/website "https://www.boozallen.com"
 :company/ticker "BAH"}
